body{
    background-color: gray;
    margin:0px;
    padding-left: 400px;
}
.post{
    background-color: white;
    width:800px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.post2{
    background-color: white;
    width:800px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.post3{
    background-color: white;
    width:800px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#title{
    text-align:center;
    box-sizing: content-box;
}
h2{
    display: inline-flex
}
#contents1{
display:flex;
justify-content: space-between;
padding:20px;
}
#dachs{
    text-align: center;
}
img{
    width:750px;
    height:750px;
    object-fit: cover;
}
#comment{
    margin-left: 30px;
    margin-right: 30px;
}
/* top,right,bottom,left */